header {
    background-color: aqua;
    color: black;
}

footer {
    background-color: aqua;
    color: black;
}

body {
    background-color: black;
    color: aliceblue;
}

iframe {
    width: 450px;
    height: 800px;
    overflow: hidden;
}
